*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: white; 
    background-color: #100e17;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    width: 85%; 
    max-width: 800px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #1B95E0;
    align-items: center; 
}

.header-section a {
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 30px; 
    color: white;
}

.logo a{
    color: white;
}

.logo a:hover,
.logo a:focus {
    color: #1B95E0;
} 

.hero h2 {
    color: #a2dffb; 
}

.avatar {
    border-radius: 50%;
}

.bio {
    align-content: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px
}

a {
    color: #1B95E0; 
}

a:hover,
a:focus {
    color: #a2dffb;
}

nav a:hover,
nav a:focus {
    color: white;
}

.bio a {
    text-decoration-color: #a2dffb;
}

nav {
    font-size: 20px; 
    font-weight: 300;
}

.nav-link {
    margin-left: 30px; 
}

.disclaimer {
    display: flex;
    justify-content: center;
    color: #7a7a8c;
    font-size: 12px;
}

.social-bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.social-icons {
    height: 32px;
    width: 32px;
    margin: 15px;
    transition: all .1s ease-in-out;
}

.social-icons:hover {
    transform: scale(1.2);
}

.post-info {
    display: flex;
    flex-wrap: wrap;
}
.post-header-image {
    height: auto;
    width: 100%;
    max-width: 800px;
    padding-top: 15px;
    margin: 0 auto;
  }

  .post-summary {
    width: 800px;
    padding: 1.5rem;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
    border-radius: 16px;
    margin: 20px 10px 20px 10px;
  }

  .post-summary:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }

  .post-index-date {
    color: #7a7a8c;
    font-style: italic;
  }

  .post {
      background-color: white;
      color: black;
      padding: 20px; 
      border-radius: 6px;
  }

  .post-date {
      font-style: italic;
  }

  .post a {
    text-decoration-style: dotted;
    color: blue;
  }

  .resume-container {
      display: flex;
      justify-content: space-between;
  }

.resume-content {
    background-color: white;
    color: black;
    padding: 20px; 
    border-radius: 6px;
    font-size: 15px;
}

.resume-content h1 {
    text-align: center;
}

.resume-body h2 {
    text-transform: uppercase;
    color: #1B95E0;
    font-size: 17px;
}

.resume-contact-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.resume-contact-info section {
    padding: 0 10px 0 10px;  
    font-size: 95%;
    height: 20px;
    overflow: hidden;
}

.resume-contact-info section:not(:last-child) {
    border-right: solid;
    border-width: thin;
}

.resume-job-heading,
.resume-education-title,
.resume-education-date {
    font-weight: bold;
}

.resume-education-date {
    font-weight: bold;
}

.resume-contact-container {
    display: flex;
}

.post-summary-tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.post-tag {
    background: darkgray;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
    padding: 5px;
    border-radius: 40%;
}